.sv-cd-timer {
	width: 100%;
	margin-bottom: 1rem;
}
.sv-cd-timer th {
	color: #666;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
}
.sv-cd-days, .sv-cd-hours, .sv-cd-mins, .sv-cd-secs {
	text-align: center;
	color: #0a0;
	font-size: 24px;
	font-weight: bold;
	font-variant: tabular-nums;
}
.sv-cd-days {
	color: #990;
}
.sv-cd-blastoff {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.sv-cd-until {
	caption-side: bottom;
	margin-top: 0.5rem;
	font-size: 14px;
	text-align: center;
}
